<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script> <!-- Resource jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script> <!-- Resource jQuery -->


    <!-- Latest compiled and minified CSS -->


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <title>Responsive Vertical Timeline</title>
  </head>

  <body ng-app="myModule" ng-controller="CalendarController as main" ng-init="getSpreadsheetData()">

    <section id="cd-timeline" class="cd-container">
      <div ng-cloak ng-repeat="event in events track by $index" class="cd-timeline-block">
        <div class='cd-timeline-img cd-picture' style="background:{{event.dot_color}}">
          <!--<img src="img/cd-icon-picture.svg" alt="Picture">-->
          <i class="material-icons md-32">{{ event.icon }}</i>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content" >
          <!--display the event title and description from google sheet-->
          <h2>{{ event.title       }}</h2>
          <p>{{  event.description }}</p>

          <!-- Button trigger modal -->
          <div ng-show="showMoreInfo[{{event.id}}]">
            <button type="button" class="btn btn-primary btn-md " data-toggle="modal" data-target="#myModal{{event.id}}">
              More Info
            </button>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="myModal{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">{{event.title}}</h4>
                </div>
                <div class="modal-body">
                  <p>{{event.description}}</p>
                  <p>{{event.information}}</p>
                </div>
                <div class="modal-footer">
                  <a type="button" class="btn btn-primary" ng-show="hasOutsideLink[{{event.id}}]" href = {{event.outsideLink}}>Follow Link</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


          <span class="cd-date">{{ event.datetime }}</span>
        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->

    </section> <!-- cd-timeline -->
  </body>
</html>
