<div class="profile">
    <h1>Edit Your Profile</h1>
    <div class="row">
        <div id="profile-photo" class="col-md-4">
            <h4 class="title">Profile Image</h4>
            <div class="user-photo">
                <img id="preview" ng-src="{{ entityObject.image_url }}" ng-show="entityObject.image_url" width="150" height="150" />
                <span class="placeholder" ng-show="!entityObject.image_url">No Profile Image</span>
            </div>
            <p class="description">For best results - please use a square image</p>
            <div class="file">
                <input type="file" id="file_input" onchange="angular.element(this).scope().getS3Key(this)" />
                <i class='fa fa-circle-o-notch fa-spin loading-icon'></i>
            </div>
            <p class="uploading">Uploading...Please wait to save</p>
            <p class="upload-status">Uploaded. Click Update to Save</p>
        </div>

        <div class="col-md-7 col-md-offset-1">
            <form>
                <input type="hidden" id="image_url" name="image_url" ng-model="entityObject.image_url" value="" />
                <div class="form-group">
                    <label for="enabled" class="control-label">Profile Status</label>
                    <input type="checkbox"
                           id="enabled"
                           name="enabled"
                           value="1"
                           ng-model="entityObject.enabled"
                           ng-true-value="1"
                           ng-false-value="0"
                            />
                </div>
                <div class="form-group">
                    <label for="first_name" class="control-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" ng-model="entityObject.first_name" value="{{entityObject.first_name}}"/>
                </div>

                <div class="form-group">
                    <label for="last_name" class="control-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" ng-model="entityObject.last_name" value="{{entityObject.last_name}}"/>
                </div>

                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="text" class="form-control" id="email" ng-model="entityObject.user.email" value="{{entityObject.user.email}}" disabled />
                </div>

                <div class="form-group">
                    <label for="description" class="control-label">Enter a single phrase to describe yourself (25 characters max)</label>
                    <input type="text" class="form-control" id="description" ng-model="entityObject.description" value="{{entityObject.description}}"/>
                </div>

                 <div class="form-group">
                    <label for="resumeURL" class="control-label">Link to Resume</label>
                    <input type="text" class="form-control" id="resumeURL" ng-model="entityObject.resumeURL" value="{{ entityObject.resumeURL }}"/>
                </div>

                <div class="form-group">
                    <label for="coolthings" class="control-label">Your resume is the typical boring info, but we want more! Tell us 3 cool things about you - spare time activities, travels, - anything you think we should know!</label>
                    <textarea class="form-control" rows="5" id="coolthings" ng-model="entityObject.coolthings" value="{{entityObject.coolthings}}"></textarea>
                </div>

                <div class="form-group">
                    <label for="developer_type" class="control-label">What type of developer are you?</label>
                    <select name="developer_type" class="form-control" id="developer_type" ng-model="entityObject.developer_type">
                        <option>Front End</option>
                        <option>Back End</option>
                        <option>Full Stack</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label"> What are your top 7 software development skills (technical languages, frameworks, etc.)?</span></label>
                    <ui-select multiple
                               tagging="tagTransform"
                               tagging-label="(new)"
                               ng-model="fellow.tags"
                               theme="bootstrap"
                               ng-disabled="disabled"
                               style="width: 100%"
                               limit="5"
                               title="Choose a skill">
                        <ui-select-match placeholder="Select skill">{{ $item.name }}</ui-select-match>
                        <ui-select-choices repeat="tag in tags | propsFilter: { name: $select.search }">
                           <!--  <span ng-bind-html="''+tag.name | highlight: $select.search"></span> -->
                        </ui-select-choices>
                    </ui-select>
                </div>



                <div class="form-group">
                    <label for="achievements" class="control-label">What technical achievement are you proud to share? √</label>
                    <textarea class="form-control" rows="5" id="achievements" ng-model="entityObject.achievements" value="{{entityObject.achievements}}"></textarea>
                </div>


                <div class="form-group">
                    <label for="involvements" class="control-label">What involvement have you had with start-ups, hackathons, developer groups, even side projects, please tell all?</label>
                    <textarea class="form-control" rows="5" id="involvements" ng-model="entityObject.involvements" value="{{entityObject.involvements}}"></textarea>
                </div>


                <div class="form-group">
                    <label for="git_hub" class="control-label">GitHub Url</label>
                    <input type="text" class="form-control" id="git_hub" ng-model="entityObject.git_hub" value="{{ entityObject.git_hub }}"/>
                </div>
           

                

                <div class="form-group">
                    <div class="update-btn">
                        <button type="submit" class="btn btn-primary btn-lg pull-right" ng-click="update(entityObject)">Update</button>
                    </div>
                </div>

                <div class="form-group" ng-if="editMode">
                    <div class="update-btn">
                        <button type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"  ng-click="cancelEdit()">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
