

    <div class="modal-header">
        <h4 class="modal-title">Edit Company: {{ company.name }}</h4>
    </div>

    <div class="modal-body box-modal" ng-init="init()">

        <div class="alert alert-danger" role="alert" ng-show="errors.length">

            <p ng-repeat="error in errors">{{ error }}</p>

        </div>

        <div> Click Here to Edit: <input type="checkbox" ng-model="all" value="0"></div>
        <div class="form-group">

            <label class="control-label">Profile Status</label><br />
            <input type="checkbox"
                   name="enabled"
                   id="enabled"
                   value="1"
                   ng-model="company.user.profile_enabled"
                   ng-true-value="1"
                   ng-false-value="0" />

        </div>
        <div class="form-group">

            <label class="control-label">Vote Status</label><br />
            <input type="checkbox"
                   name="vote_enabled"
                   id="vote_enabled"
                   ng-model="company.user.vote_enabled"
                   ng-true-value="1"
                   ng-false-value="0" />

        </div>

        <div class="form-group">
            <label>Company Name</label>
            <input type="text" ng-model="company.name" ng-readonly="!all" name="name" class="form-control" />
        </div>

        <div class="form-group">
            <label>Primary Contact</label>
            <input type="text" ng-model="company.primary_contact" ng-readonly="!all" name="contanct" class="form-control" />
        </div>

        <div class="form-group">
            <label>Size</label>
            <input type="text" ng-model="company.company_size" ng-readonly="!all" name="size" class="form-control" />
        </div>

        <div class="form-group">
            <label>Industry</label>
            <input type="text" ng-model="company.industry" ng-readonly="!all" name="industry" class="form-control" />
        </div>

        <div class="form-group">
            <label>Map URL</label>
            <input type="text" ng-model="company.map_url" ng-readonly="!all" name="map_url" class="form-control" />
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea type="text" ng-model="company.description" ng-readonly="!all" name="description" class="form-control" rows="3"/>
        </div>

        <div class="form-group">
            <label>City</label>
            <input type="text" ng-model="company.city" ng-readonly="!all" name="city" class="form-control" />
        </div>

        <div class="form-group">
            <label>Bio</label>
            <textarea type="text" ng-model="company.bio" ng-readonly="!all" name="bio" class="form-control" rows="3"/>
        </div>

        <div class="form-group">
            <label>Developer Type</label>
            <input type="text" ng-model="company.developer_type" ng-readonly="!all" name="developer_type" class="form-control" />
        </div>

        <div class="form-group">
            <label>Website URL</label>
            <input type="text" ng-model="company.website_url" ng-readonly="!all" name="website_url" class="form-control" />
        </div>

        <div class="form-group">
            <label>Contanct Email</label>
            <input type="text" ng-model="company.contact_email" ng-readonly="!all" name="contact_email" class="form-control" />
        </div>

        <div class="form-group">
            <label>Contact Phone</label>
            <input type="text" ng-model="company.contact_phone" ng-readonly="!all" name="contact_phone" class="form-control" />
        </div>

        <div class="form-group">
            <label>Logo URL</label>
            <input type="text" ng-model="company.logo_url" ng-readonly="!all" name="logo_url" class="form-control" />
        </div>

        <div class="form-group">
            <label>Age</label>
            <input type="text" ng-model="company.age" ng-readonly="!all" name="age" class="form-control" />
        </div>

        <div class="form-group">
            <label>Value Prop.</label>
            <textarea type="text" ng-model="company.value_prop" ng-readonly="!all" name="value_prop" class="form-control" rows="3"/>
        </div>

        <div class="form-group">
            <label>Why HF?</label>
            <textarea type="text" ng-model="company.whyHF" ng-readonly="!all" name="whyHF" class="form-control" rows="3"/>
        </div>

        <div class="form-group">
            <label>Dev Needs</label>
            <input type="text" ng-model="company.devneeds0" ng-readonly="!all" name="devneeds0" class="form-control" />
        </div>
        <div class="form-group">
            <label>Dev Needs</label>
            <input type="text" ng-model="company.devneeds1" ng-readonly="!all" name="devneeds1" class="form-control" />
        </div>
        <div class="form-group">
            <label>Dev Needs</label>
            <input type="text" ng-model="company.devneeds2" ng-readonly="!all" name="devneeds2" class="form-control" />
        </div>
        <div class="form-group">
            <label>Dev Needs</label>
            <input type="text" ng-model="company.devneeds3" ng-readonly="!all" name="devneeds3" class="form-control" />
        </div>
        <div class="form-group">
            <label>Dev Needs</label>
            <input type="text" ng-model="company.devneeds4" ng-readonly="!all" name="devneeds4" class="form-control" />
        </div>

        <div class="form-group">
            <label>Dev Needs</label>
            <input type="text" ng-model="company.devneeds5" ng-readonly="!all" name="devneeds5" class="form-control" />
        </div>

        <div class="form-group">
            <label>Ideal Dev</label>
            <textarea type="text" ng-model="company.ideal_dev" ng-readonly="!all" name="ideal_dev" class="form-control" rows="3"/>
        </div>
 
        <div class="form-group">
            <label>Change Password</label>
            <input type="password" ng-model="user.password" ng-readonly="!all" name="email" class="form-control" />
            <p class="text-muted">Enter a new password to change - otherwise leave blank</p>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()">Save</button>
    </div>

