   <div class="top">
      <div class="row background-img">
        <div class="frameGradient">
          <div class="frame">
            <div class="borderFrame">
              <div class="logo">

                <img src="/assets/img/hf-logo.svg" class="logo-img">

                <div class="form-container">
                  <a href="https://docs.google.com/forms/d/1RuD6Kzww3abf0vl0YC8ygHvXdLRD1Cr5FI6DZbWSjJE/viewform" target="_blank" class="form-link" >Are you a game changer?</a>
                </div>
              </div>
            </div><!--  borderFrame -->
          </div><!-- frame -->
        </div><!-- frameGradient -->
      </div><!-- background img -->
      <div id="home" class="main-content">
   <div id="about-section" class="row">
        <div class="section even-section">
            <div class="container">
                <div class="row top-row">
                    <div class="col-md-12">
                        <h2>WHAT IS HACKER FELLOWS?</h2>
                        <p>Hacker Fellows is a one-year fellowship program where recent Computer Science
                            college graduates work as a developer at a Michigan start-up.
                            <a href="/#/about">Wana know more?</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

      </div>
    </div>
  </div>
