   <div class="top">
      <div class="row background-img">
        <div class="frameGradient">
          <div class="frame">
            <div class="borderFrame">
              <div class="logo">

                <img src="/assets/img/hf-logo.svg" class="logo-img">

                <div class="form-container">
                  <a href="https://docs.google.com/forms/d/1RuD6Kzww3abf0vl0YC8ygHvXdLRD1Cr5FI6DZbWSjJE/viewform" target="_blank" class="form-link" >Are you a game changer?</a>
                </div>
              </div>
            </div><!--  borderFrame -->
          </div><!-- frame -->
        </div><!-- frameGradient -->
      </div><!-- background img -->
      <div class="YOU SHOULD REMOVE THIS IN FAVOR OF PROPER STYLING"></div>
        <div class="row">
          <h1>Hi! Do you like cats?</h1>
      </div>
    </div>
  </div>
