   body{
                  font-family: 'Roboto Mono', monospace;
              }
              
              .wana h2{
                  font-size: 50px;
                  text-align: center;
                 
              }
              
              .wanto{
                  margin-top: 3%;
              }
              
              .interest h2{
                  text-align: center;
              }
              
              .interest p{
                  text-align: center;
                  font-size: 25px;
                  color:#ff6633;
              }
              
              .interest {
                  margin-top: 10%;
              }
              
              .payoff2{
                  margin-top: 10%;
              }
              
              .reqs{
                  margin-top: 8%;
              }