  #selectemp{
        margin-left: 3%;
    }
    body{
        background-color: black;
    }
    .main-content{
        color: white;
        font-family: 'Dosis', sans-serif;
    }
    .employer-list a{
        color: #ff6633;
        text-align: center;
    }
    .spacer5{
        margin-top: 5%;
    }
     .spacer3{
        margin-top: 3%;
    }
