<div class="row">

	<div class="col-md-8 col-md-offset-2">

		<div class="profile">
            <h2> Admin Page </h2>
            <ul> 
                <li> <a href="/#/admin/tags">View/Edit Tags</a> </li>
                <li> <a href="/#/admin/users">Manage Fellows/Companies Profile </a> </li>
                <li> <a href="/#/admin/applicants">Review Applications </a> </li>
                <li> <a href="https://docs.google.com/spreadsheets/d/1rUiabmgoujPc1EWCSCvGiDhk80c9Y8ykcQ57D2Z7hfI/edit#gid=103470563" target="_blank">Manage Calendar </a> </li>
            </ul> 
        </div>		
	</div>
</div>
