<div class="row">

	<div class="col-md-8 col-md-offset-2">

		<div class="profile">

				<div class="row">


					<h2>Applicants</h2>
                    <h3>Fellows</h3>
                    <a href="/api/v2/fellows/unaccepted"> Get all fellows </a>
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th class="stat">View Application</th>
							<th>Accept</th>						
							<th>Delete</th>						
						</thead>
						<tbody>
						<tr ng-repeat="fellow_applicant in fellow_applicants">
							<td>{{ fellow_applicant.first_name + " " + fellow_applicant.last_name }}</td>
							<td>{{ fellow_applicant.user.email }}</td>
							<td><a href ng-click="viewApplicant(fellow_applicant)"><i class="fa fa-pencil-square-o"></i></a></td>
							<td><a href ng-click="acceptApplicant(fellow_applicant)"><i class="fa fa-check"></i></a></td>
							<td width="30"><a href ng-click="rejectApplicant(fellow_applicant)"><i class="fa fa-times text-danger"></i></a></td>
						</tr>

						</tbody>
					</table>
                    <h3>Companies</h3>
                    <a href="/api/v2/companies/unaccepted"> Get all companies </a>
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th class="stat">View Application</th>
							<th>Accept</th>						
							<th>Delete</th>						
						</thead>
						<tbody>
						<tr ng-repeat="company_applicant in company_applicants">
							<td>{{ company_applicant.name }}</td>
							<td>{{ company_applicant.user.email }}</td>
							<td><a href ng-click="viewApplicant(company_applicant)"><i class="fa fa-pencil-square-o"></i></a></td>
							<td><a href ng-click="acceptApplicant(company_applicant)"><i class="fa fa-check"></i></a></td>
							<td width="30"><a href ng-click="rejectApplicant(company_applicant)"><i class="fa fa-times text-danger"></i></a></td>
						</tr>

						</tbody>
					</table>

			</div>

	</div>
</div>
