<div class="grid-box col-lg-3" ng-if="item.user.enabled">
	<!--
	File name: 		profileGridTile.html
	Author: 		Jessica Wu, Michael Baldwin
	Partial of:		profileGrid.html
	Description: 	A tile containing a fellow or company's shortened profile.
					Fills up the profileGrid
	Notes:			{{entity}} variables refer to "fellows" or "companies"
	-->
	<div class="row therow">

		<div class="photo">
			<img class="img" ng-src="{{item.image_url}}"/>
		</div>

		<div class="info tester">
			<!--some form of conditional that asks for first and last name if fellow,
			and just company.name otherwise-->
			<h3 class="name" ng-if="item.first_name">{{item.first_name +" "+ item.last_name}}</h3>
			<h3 class="name" ng-if="item.name">{{item.name}}</h3>
			<p class="tagline">{{ item.description }} <span ng-if="item.developer_type">| {{ item.developer_type }}</span></p>
			<div class="bio"><p>{{ item.bio }}</p></div>
		</div>
		
		<div class="foot">
			<div class="tagwrap">
				<div class="tag fellow_tag " ng-repeat='tag in entity.tags | limitTo:6'>
					{{ tag.name }}
				</div>
			</div>

			<div class="details-button deets">
				<!--again, conditional for company name or fellow fname and lname-->
				<!--Only show if enabled-->
				<a type="button" class="detButton" ng-if="item.user.enabled && item.first_name" ng-href="/#/{{whichEntity}}/{{ item.user_id }}">
					<i class="fa fa-plus fa-lg"></i> full profile
				</a>
				<a type="button" class="detButton" ng-if="item.user.enabled && item.name" ng-href="/#/{{whichEntity}}/{{ item.user_id }}">
					<i class="fa fa-plus fa-lg"></i> full profile
				</a>
			</div>
		</div>
	</div>
</div>

<style>

.tester{
	margin-top: 1%;
}

.photo img{
 	width: 100%;
 	height: 250px;
    object-fit: scale-down;
    overflow: hidden;
}

.bio{
	margin-top: 5%;
}

.deets{
}

.therow{
	margin-top: 5%;
}

.detButton{
	margin-top: 55%;
}

</style>
